<%- include('./components/header') -%>
<!-- HEAD -->

<body>

  <!-- HEADER -->
<header class="ScriptHeader">
    <div class="rt-container">
    	<div class="col-rt-12">
        	<div class="rt-heading">

            	<h1>Yurikó ♡ Web</h1>

                <p>I'm a great bot for you to protect yourself</p>

                <!-- Botones -->
                <div class="Buttons">
                  <a href="https://discord.gg/HdCRvS9KYz" class="btn btn-primary" role="button">Discord</a>
                  <a class="btn btn-primary" href="/dashboard" role="button">Dashboard</a>
                </div>
                <!-- Botones -->

            </div>
        </div>
    </div>
</header>
  <!-- HEADER -->

  <!-- Section -->
<section>
    <div class="rt-container">
    <div class="col-rt-12">
    <div class="Scriptcontent">
    <div class="student-profile py-4">
    <div class="container">
    <div class="row">

      <!-- Yuriko Perfil -->
      <div class="col-lg-4">
        <div class="card shadow-sm">
          <div class="card-header bg-transparent text-center">
            <img class="profile_img" src="https://cdn.discordapp.com/avatars/903456741721780265/66a088d744cc2a3e4f57490234acb3d1.png?size=2048" alt="Loading">
            <h3>Yurikó ♡</h3>
          </div>
          <div class="card-body">
            <p class="mb-0"><strong class="pr-1">Created |</strong>A year ago</p>
            <p class="mb-0"><strong class="pr-1">Nickname |</strong>Yurikó ♡#0027</p>
            <p class="mb-0"><strong class="pr-1">ID |</strong>903456741721780265</p>
            <p class="mb-0"><strong class="pr-1">Bot |</strong>Verified</p>
            <p class="mb-0"><strong class="pr-1">Servers |</strong><%= GuildsYuriko %></p>
          </div>
        </div>
      </div>
      <!-- Yuriko Perfil -->

      <!-- Carlos Perfil -->
      <div class="col-lg-4">
        <div class="card shadow-sm">
          <div class="card-header bg-transparent text-center">
            <img class="profile_img" src="https://cdn.discordapp.com/avatars/691775631033368577/f8a6c769b6d477ae2ad5d1d6735145c9.png?size=2048" alt="Loading">
            <h3>Founder | Carlos</h3>
          </div>
          <div class="card-body">
            <p class="mb-0"><strong class="pr-1">Server |</strong>https://discord.gg/HdCRvS9KYz</p>
            <p class="mb-0"><strong class="pr-1">Nickname |</strong>Carlos.#0423</p>
            <p class="mb-0"><strong class="pr-1">Description |</strong>My purpose is to bring Discord users more protection and security for their servers.</p>
          </div>
        </div>
      </div>
      <!-- Carlos Perfil -->

      <!-- Zastinian Perfil -->
      <div class="col-lg-4">
        <div class="card shadow-sm">
          <div class="card-header bg-transparent text-center">
            <img class="profile_img" src="https://cdn.discordapp.com/avatars/741448125318824017/a_90ae691d1654a6954dccd7a28816c1fb.gif?size=2048" alt="Loading">
            <h3>Founder | Zastinian</h3>
          </div>
          <div class="card-body">
            <p class="mb-0"><strong class="pr-1">Server |</strong>https://discord.gg/KyhagcYVrU</p>
            <p class="mb-0"><strong class="pr-1">Nickname |</strong>Zastinian#8451</p>
            <p class="mb-0"><strong class="pr-1">Description |</strong>Thinking of my happiness, I thought of you</p>
          </div>
        </div>
      </div>
      <!-- Zastinian Perfil -->

      <!-- Terminos y condiciones -->
      <div class="student-profile2 py-4">
        <div class="col-lg-8">
          <div class="card shadow-sm">
          <div class="card-header bg-transparent text-center">
            <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Terms & Conditions</h3>
          </div>
          <div class="card-body pt-0">
            
            <!-- Informacion de datos Yurikó -->
            <h3>Message Collection</h3> <p>Yurikó ♡ will read all the messages on the servers on which it is by the Anti Scam, Anti Spam and other systems (this information is deleted once it is verified that it is not dangerous during the events).</p>
            <h3>Data Collection</h3> <p>Some data is saved from servers or users for systems and their operation (once they deactivate such a system that data will also be deleted, also when Yurikó ♡ is removed from a server he will automatically delete all the data from that server).</p>
            <h3>Data you can delete</h3> <p>You have the right to delete certain data, except all in which it includes server warnings, For more information you can join the Yurikó ♡ support server and create a ticket <p2>https://discord.gg/HdCRvS9KYz</p2></p>
            <h3>Privacy</h3> <p>All the data is safe in the files of the same Yurikó ♡ and the only one who has access to them is 1 person (<p2>Carlos.#0423</p2>) all this data is stored for the proper functioning of Yurikó ♡ and the data are the basic ones such as ID Channels | ID Users | ID Servers | Messages ID.</p>
            <!-- Informacion de datos Yurikó -->
      
          </div>
          </div>
        </div>
      <!-- Terminos y condiciones -->
      
      <div class="student-profile2 py-4">
      <div class="col-lg-8">
        <div class="card shadow-sm">
          <div class="card-header bg-transparent border-0">
            <h3 class="mb-0"><i class="far fa-clone pr-1"></i>General Information</h3>
          </div>
          <div class="card-body pt-0">
          <p>I am a bot dedicated to the moderation and self-moderation of your server, I have very well developed systems such as Anti Scam | Anti Spam | Anti JoinUsers | Anti JoinBots | Anti Alts | Warns | AntiChannel Delete | AntiChannel Create, among others, all this data is stored in the following databases (Sqlite3)</p>
          </div>
        </div>
          <div style="height: 26px"></div>
        <div class="card shadow-sm">
          <div class="card-header bg-transparent border-0">
            <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Other Information</h3>
          </div>
          <div class="card-body pt-0">
              <p>My purpose is to protect all Discord servers and that users have full security protection against dangerous users or spammers, all my data is restricted and private and my system and monthly updated.</p>
          </div>
        </div>
      </div>
      </div>

</section>
  <!-- Section -->

</body>
</html>
